# PostgreSQL
POSTGRES_DB=bookdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Spring Boot (Docker: hostname = postgres)
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/bookdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# JWT
JWT_SECRET=my-super-secret-key-my-super-secret-key

OLLAMA_HOST=ollama-api
OLLAMA_PORT=11434
OLLAMA_MODEL=qwen3:1.7b
